.rectangle {
  width: 1010px;
  height: 1147px;
  left: 215px;
  color: #ffff;
  margin: auto;
}
.list-of-cards {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  list-style-type: none;
}
