.whole-card {
  width: 451px;
  height: 279px;
  padding-left: 15px;
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}
.img-card {
  width: 183px;
  height: 279px;
  float: left;
}
.info-in-card {
  margin: 0 0 0 -10px;
  height: 279px;
  padding-left: 15px;
  float: left;
  box-shadow: rgba(197, 192, 192, 0.32) 3px 2px 5px;
  position: relative;
}

.data {
  font-family: "Inter", serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #827e7e;
  margin: 0;
}
button {
  margin: 10px 10px 0 0;
  color: #000000a6;
  border: rgba(197, 192, 192, 0.32) 2px solid;
  border-radius: 3px;
  background-color: #ffff;
}

p {
  width: 228px;
  height: 129px;

  color: black;
  font-family: "Inter", serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  margin: 10px 10px 0 0;
}

.header {
  padding-top: 10px;
  padding-right: 9px;
  position: relative;
}
.title {
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 20px;
  color: black;
  width: 190px;
}
.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: #e9d100 2px solid;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vote_average {
  font-family: Inter, serif;
  font-size: 12px;
  width: 15px;
  height: 15px;
  color: #000;
  text-align: center;
}
.rating {
  width: 237px;
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  position: absolute;
  top: 237px;
}
.ant-rate-star {
  width: 15px;
  height: 10px;
}
